@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header-center {
    width: 100%;
    // background: rgb(0, 0, 0);
    height: auto;
    display: flex;

    .center-right {
        width: 100%;
        height: auto;
        background: #132244;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 70px;

        svg {
            color: white;
            margin-top: 26px;
        }

        .box {
            width: 324px;
            height: 79px;
            border-radius: 324px;
            background: #30CDFF;
            filter: blur(100px);
            position: absolute;
            margin-top: 110px;
        }

        h1 {
            color: #FFF;
            text-align: center;
            font-size: 28px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            display: flex;
            gap: 15px;
            margin-top: 54px;

            p {
                color: #FFF;
                text-align: center;
                font-size: 28px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }

        .center-card {
            width: 90%;
            height: auto;
            flex-shrink: 0;
            border-radius: 50px;
            border: 3px solid #324674;
            background: #132244;
            box-shadow: 4px 4px 50px 15px rgba(0, 0, 0, 0.25);
            margin-top: 35px;
            padding: 40px 60px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            .card-child {
                width: 23%;
                height: auto;
                //  border: 2px solid white;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                border-radius: 5px;
                margin: 10px 0;
                padding: 15px;
                cursor: pointer;

                .img {
                    width: 150px;
                    height: 100px;
                    background: url(/img/Vector.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                p {
                    font-size: 90px;
                    color: white;
                    font-weight: 900;
                }

                h3 {
                    width: 100%;
                    color: #FFF;
                    text-align: center;
                    font-size: 20px;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
            }

            .card-child:nth-child(2) {
                h3 {
                    width: 100%;
                    color: #FFF;
                    text-align: center;
                    font-size: 20px;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
            }

            .card-child:nth-child(3) {
                .img {
                    width: 150px;
                    height: 100px;
                    background: url(/img/Group.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                h3 {
                    width: 77.4%;
                    color: #FFF;
                    text-align: center;
                    font-size: 20px;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
            }

            .card-child:nth-child(4) {
                .img {
                    width: 150px;
                    height: 100px;
                    background: url(/img/Group\ \(1\).png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                h3 {
                    width: 77.4%;
                    color: #FFF;
                    text-align: center;
                    font-size: 20px;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
            }
        }

        .center-card2 {
            width: 90%;
            height: auto;
            background: #132244;
            margin-top: 50px;
            padding: 40px 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .card-child {
                width: 25%;
                height: 200px;
                // border: 2px solid white;
                display: flex;
                // justify-content: space-between;
                align-items: center;
                border-radius: 5px;
                margin: 10px 0;
                padding: 15px;
                gap: 20px;
                .text{
                    h3{
                        color: #FFF;
                        font-size: 32px;
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }
                    p{
                        color: #FFF;
                        font-size: 30px;
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
                .line {
                    width: 3px;
                    height: 116px;
                    background: rgba(255, 255, 255, 1);
                }
            }
        }
    }

    .center-left {
        width: 34.2%;
        // background: blueviolet;
        height: 1000px;
    }
}